.checkout-item {
  text-align: center;
}

.checkout-item td {
  vertical-align: middle !important;
  font-weight: bold;
  font-size: 1.2em;
}

.checkout-item .control {
  font-weight: bold;
  cursor: pointer;
}

.checkout-item .quantity-control {
  font-size: 1.5em;
  padding: 5px;
}
.checkout-item .remove-control {
  font-size: 1.5em;
}
